/*code for true position*/

.container
{
  display:flex;
  flex-direction: column;
  border: 3px solid;
  border-radius: 15px;
  background-color: rgb(222, 216, 216);
}

.container1{
  display: flex;
  justify-content: center;  background-color: whitesmoke;
  border-radius: 15px;
}

.container2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 15px;

}

.container3{
  display: flex;
  justify-content: center;
  margin: 15px;
}

.container4{
  display: flex;
  justify-content: center;
  margin: 15px;

}

.base-box{
  display: flex;
  flex-wrap: nowrap;
  gap:5px;

}

input{
  border: 2px solid;
  border-radius: 7px;
  outline: none;
}
label{
text-shadow: 1px 1px .5px ;}


h1{
  text-shadow: 1px 1px 2px ;}

h3{
    text-shadow: 1px 1px 2px ;}
  
.img{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
}
img{
  border: 3px solid;
  border-radius: 10%;
}




.btns{
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;

}
button{
  width: 100px;
  background-color: gray;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 3px;
}
button:hover{
  width: 100px;
  background-color: rgb(245, 238, 238);
}



/*.circle-label {
  
  display: inline-block;
   Adjust the size of the circle as needed 
  width: 96px; 
  height: 96px;


  border-radius: 50%;
  border:solid;
  
}
*/

/*.circle-label2 {
  
  display: inline-block;
   Adjust the size of the circle as needed 
  height: 96px;
  width: 96px; 
  
  Affects the location of the circle
  position: absolute;
  top: truePositionY;
  left: truePositionx;
  transition: left 0.3s ease;

  border-radius: 50%;
  border:solid red;

}*/